
/* ESERCIZO 1 */

.ex-1-square {

    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: background-color 1.5s linear;

}

.well .ex-1-square:hover{
      background-color: red;
}


/* ESERCIZIO 2 */

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s linear;
}

.well .ex-2-square:active{
    width: 100%;
}

/* ESERCIZIO 3 */

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: border-radius 2s linear;
}

.well .ex-3-square:hover{
    border-radius: 50%;
}

/* ESERCIZIO 4 */

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    opacity: 1;
    transition: opacity 2s linear;
}

.well .ex-4-square:hover{
    opacity:0;
}


/* ESERCIZIO 5 */

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: width 2s linear , height 2s linear;
}

.well .ex-5-square:hover{
    width: 100px;
    height: 100px;
}

.well .ex-5-square:active{
    width: 20px;
    height: 20px;
}

/* ESERCIZIO 6-7-8*/
.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}


.well .ex-6-img:hover{
    filter: grayscale(100%);
}

.ex-7-img{
    width: 500px;
    transition: filter 2s;
}

.well .ex-7-img:hover{
    filter: grayscale(100%) blur(5px);
}

.ex-7-img, .ex-8-img {
    width: 500px;
    transition: filter 2s linear, border-radius 2s linear;
}

.well .ex-8-img:hover{
    filter: contrast(200%) grayscale(100%);
    border-radius: 50px;
}

/* ESERCIZIO 9 */

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: filter 2s linear, border-radius 2s linear , width 2s linear;
}

.well .ex-9-img:hover{
    filter: contrast(200%) grayscale(100%);
    border-radius: 50px;
    width: 600px;
}

/* ESERCIZIO 10 */

.ex-10-icon {
    font-size: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin{
    from{
        transform: rotate(1deg);
    }

    to{
        transform: rotate(360deg);
    }
}

/* ESERCIZIO 11 */

.ex-11-icon {
    font-size: 60px;
}

.ex-11-icon:hover {
    font-size: 60px;
    animation: alfspin 2s;
}

@keyframes alfspin{
    0%{
        transform: rotate(1deg);
    }

    80%{
        transform: rotate(270deg);
    }

    100%{
        transform: rotate(1deg);
    }
}


/* ESERCIZIO 12 E 13 */

.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}

.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
    
}

.ex-12-top-white{
    animation: alt-move-top 2s linear infinite alternate;
}

.ex-12-bottom-white{
    animation: alt-move-bottom 2s linear infinite alternate;
}

@keyframes alt-move-top{
    0%{
        left: 10%;
    }
    50%{
        left: calc(100%- 60px);
    }
    100%{
        left: 65%;
    }
 }
    @keyframes alt-move-bottom{
        0%{
            right: 20%;
        }
        
        50%{
            right: calc(100%- 60px);
        }
        100%{
            right: 65%;
        }
    }




.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
